body{ font-family: 'Helvetica', 'Arial', sans-serif; }
a{ text-decoration: none; }
a:visited{ color: black;}
a img{ transition: all .5s ease; }
a:hover img{ box-shadow: inset 0px 0px 10px #4a4a4a; }
ul{
  padding: 0;
  margin: 0;
} /*override user agent stylesheet*/
.cityTemps, .cityNames{
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  font-size: 4vw;
}
.cityTemps{
  position: absolute;
  width: 95%;
}
.cityNames li{
  width: 33%; 
  text-align: center;
}
.cityTemps li{
  width: 32.5%;
  text-align: right;
  padding-top: .25em;
}
.highlight{
  background-color: rgba(255, 255, 255, 0.44);
  border-radius: 5px;
  padding: 0px 5px;
}
.selectedCity{
  background-color: rgba(168, 168, 168, 0.74);
  border-radius: 5px;
}
.cities{ display: flex; }
.cities img{
  width: 100%;
  border-radius: 5px;
}
.wireframe{ width: 100%; }
.summary, .detail{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.summary div{
  width: 50%;
  text-align: center;
  font-size: 22vw;
  font-weight: bold;
}
.detail div{
  width: 50%;
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
}
.summary img{ width: 100%; }
.summary sup{ font-size: 10vw }
.wireframe{ padding: 1em 0; }
.nation, .largeCityNames, .recommendation, .news, .hourly, #wireFrameMed, #wireFrameLarge{ display: none; }

@media screen and (min-width: 600px){
  #wireFrameSmall{ display: none; }
  #wireFrameMed, .nation, .recommendation, .hourly{ display: block; }
  main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .recommendation div{ padding: 0 1em;}
  main section{ width: 50%}
  .summary div{ font-size: 10vw;}
  .summary sup{ font-size: 5vw;}
  .detail div{ font-size: 3.5vw;}
  .hourly{
    width: 33%;
    text-align: center;
  }
}

@media screen and (min-width: 900px){
  #wireFrameMed, header{ display: none; }
  #wireFrameLarge, .news{ display: block; }
  .largeCityNames{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    list-style-type: none;
    font-size: 3vw;
  }
  .largeCityNames li{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    transition: all .5s ease;
  }
  .news{ width: 100%;}
  body{ padding: 0 10%}
  .summary, .detail{ width: 40%; }
  .detail div{ font-size: 2.2vw;}
  .summary div{ font-size: 8vw;}
  .selectedCity{ padding: 0px 5px; }
  .largeCityNames .linked:hover{ box-shadow: inset 0px 0px 10px #4a4a4a; }
}