#example .subHeading{
  background-color: #a2ffd1;
  border-radius: 5px;
  width: 120px;
  padding-left: 5px;
  text-align: left;
}
#example .subHeading:hover{
  transition-duration: 500ms;
  box-shadow: 5px 5px 5px #888888;
  cursor: pointer;
}
#inlineExample{
  margin-left: 5em;
}